# Ambiente virtual
venv/
env/
ENV/

# Arquivos de ambiente
.env

# Banco de dados
*.db

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDEs
.vscode/
.idea/

# Arquivos de cache do Angular
frontend/.angular/cache/
frontend/.angular/**/*.pack

# Arquivos gerados pelo Angular
frontend/dist/
frontend/node_modules/

# Outros caches
cache/
